export(nyt_cg_billscosponsor)
export(nyt_cg_memberappear)
export(nyt_cg_memberbioroles)
export(nyt_cg_memberbystatedistrict)
export(nyt_cg_membersleaving)
export(nyt_cg_memberslist)
export(nyt_cg_membersponsorcompare)
export(nyt_cg_membervotecompare)
export(nyt_cg_membervotepositions)
export(nyt_cg_newmembers)
export(nyt_cg_rollcallvote)
export(sll_cg_getcommittees)
export(sll_cg_getcommitteesallleg)
export(sll_cg_getcommitteeslist)
export(sll_cg_getdistrictlatlong)
export(sll_cg_getdistrictzip)
export(sll_cg_getlegislator)
export(sll_cg_getlegislatorlist)
export(sll_cg_getlegislatorsearch)
export(sll_cg_legislatorsallForLatLong)
export(sll_cg_legislatorsallforzip)
export(sll_cw_dates)
export(sll_cw_text)
export(sll_os_billlookup)
export(sll_os_billsearch)
export(sll_os_legislatorsearch)
export(sll_os_statemetasearch)
export(sll_ts_aggregateentityview)
export(sll_ts_aggregatelookupid)
export(sll_ts_aggregatesearch)
export(sll_ts_aggregatetopcontribs)
export(sll_ts_aggregatetopsectors)
import(RCurl)
import(RJSONIO)
import(XML)
import(plyr)
import(stringr)
